*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.border{
    border: 1px dashed black;
}
/* utilities */

body{
    margin-top: 120px;
}
.container{
    max-width: 90%;
    min-height: 100px;
    margin: 0 auto;
} 

.flex{
    display: flex;
} 

.flex-direction{
    flex-direction: column;
}
/* backrounds color */
.bg-violet{
 background-color: #9792E4;
} 

.bg-black{
    background-color: #333333;
}

.bg-blue{
    background-color: #0084FD;
}

.bg-lightblue{
    background-color: #B5DDFF;
}

.bg-white{
    background-color: #fff;
}

/* buttons */
button{
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    display: block;

}

.nav-btn{
    margin-left: 10px;
}

.app-store{
    font-size: 20px;
    color: #fff;
    background-color: #0084FD;
    padding: 5px 35px;
   
}

.benefit-btn{
    background-color: #9792E4;
    color: #fff;
    padding: 10px 15px;
    margin: 20px 0;
} 

.get-started-btn{
    color: #9792E4;
    background-color: #fff;
    margin: 20px 0;
    padding: 15px 40px;
    font-size: 20px;
}


/* header */

header{
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-link, .nav-items{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li > a{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    
}

.navbar{
    display: flex;
    
    align-items: center;
}
.nav-left{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars{
    font-size: 30px;
}

.nav-right{
    flex-basis: 50%;
    display: none;
}

/* main */

.row{
    display: flex;
    flex-wrap: wrap;
    
} 

.col{
    width: 100%;
    padding: 1rem 10px;
}

.card{
    border-radius: 25px;
    min-height: 100%;
    margin-bottom: 20px;
    padding-top: 18px;
}


.big-col{
    width: 100%;
    min-height: 200px;
}

.smal-col{
    width: 100%;
    min-height: 200px; 
    position: relative;
    color: #9792E4;
}

/* Demo app info */

.demo-phone-txt{
    padding: 0px 25px;
}

.demo-title{
    color: #0586FD;
    font-size: 25px;
    margin: 20px 0;
}
.app-info-txt{
    margin: 20px 0;
    color: #6A8296;
    line-height: 25px;
}

.demo-phone-img{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.phone-png{
    width: 60%;
}

.app-info{
    text-align: center;
    
}

.demo-icon{
    font-size: 60px;
    color: #0084FD;
}

/* strategi planing */

.big-img{
    width: 80%;
    margin: 60px auto;
}

.big-img > img{
    width: 100%;
}

.strategi-description{
    color: #fff;
    
    padding-top: 50px;
}

.strategi-title{
    font-size: 30px;
    margin-bottom: 30px;
}
.strategi-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 25px;
}
.app-development{
    width: 80%;
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
}

.app-development > img{
    width: 100%;
}

.app-development > h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.arow-down{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 40px 0px;
    
    text-align: center;
    line-height: 50px;
    
}

/* partners and testimonials */

.testimonial-card{
    text-align: center;
    padding-top: 40px;
}
.testimonial-title{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #9792E4;
}

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 35px 30px;
}

.testimonial-img{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
    
}
.testimonial-img > img{
    width: 100%;
    height: 100%; 
    display: block;
    
}

.testimonial-name{
    margin-top: 30px;
}

/* benefits of working with us */
.benefits-title{
    text-align: center;
    color: #fff;
    margin: 20px 20px;
} 

.benefits-content{
    padding: 10px 20px;
}

.benefit-numeration{
    color: #9792E4;
    margin-top: 20px;
    font-size: 30px;
}

.benefit-tipe{
    color: #9792E4;
    margin: 20px 0px;
}
 .benefit-description{
    color: #6A8296;
    line-height: 25px;
 }

 /* About us */

 .about-us{
    margin-top: 30px;
 }

 .about-us-title{
    color: #9792E4;

 }

 .about-us-paragraph{
    margin: 20px 0;
    line-height: 30px;
 }

 .indicator{
    
    position: absolute;
    position: absolute;
    top: 0;
    left: 144px;
    font-size: 61px;


 }


/* footer top */
.foot-top{
    text-align: center;
    color: #fff;
    padding:35px 0 ;
    
}

.download-description{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.foot-title{
    margin-bottom: 20px;
    font-size: 45px;
    color: #FDC15F;
}

.foot-list > li{
    margin-left: 27px;
}

/* footer bottom */


.foot-bootom{
    text-align: center;
    color: #fff;

    padding:35px 0 ;
} 


/* tablet sizing */

@media screen and (min-width:768px) {
    .col{
        width: 50%;
    }
    
    .app-info > .col{
        width: 33%;
        
    }

    .app-info{
        margin-right: -5px;
    }

    .col.demo-app{
        width: 66%;
    }

   .strategi-planing{
    width: 100%;
   }

   /* testimonials */
   .testimonial{
    flex-direction: column;
   }

   .testimonial-intro{
    width: 100%;
   } 

   .partners{
    flex-direction: row;
   }

   .testimonial-description{
    width: 70%;
   }

/* about us */
   .about-us{
    display: flex;
   }

   .smal-col{
    width: 30%;

   }

   .big-col{
    width: 70%;
    padding-right: 5rem;
   }

   
}

/* dekstop size */

@media screen and (min-width:992px){
    /* header */
    .nav-left{
        flex-basis: 50%;
    }
    .nav-right{
        display: flex;
        justify-content: flex-end;
    }  
    
    .fa-bars{
        display: none;
    }
    
    .container{
        max-width: 80%;
    }

    .benefits > .col{
        width: calc(100% / 3);
    }

    .flex-direction{
        flex-direction: row;
    }
 /* strategi planing */
    .strategi-planing{
        width: 50%;
        margin-bottom: 80px;
    }
    .strategi-card{
        width: 70%;
        position: relative;
        top: 105px;
        left: 90px;
    }
    .dekstop-flex{
        display: flex;
    }

    .demo-phone-txt{
        width: 60%;
    }

    .demo-phone-img{
        position: relative;
        width: 40%;
    }

    .phone-png{
       
        position: absolute;
        bottom: 0;
        transform: translate(-50% , 0);
    }
}