*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.border{
    border: 1px dashed black;
}
/* utilities */

body{
    margin-top: 120px;
}
.container{
    max-width: 90%;
    min-height: 100px;
    margin: 0 auto;
} 

.flex{
    display: flex;
} 

.flex-direction{
    flex-direction: column;
}
/* backrounds color */
.bg-violet{
 background-color: #9792E4;
} 

.bg-black{
    background-color: #333333;
}

.bg-blue{
    background-color: #0084FD;
}

.bg-lightblue{
    background-color: #B5DDFF;
}

.bg-white{
    background-color: #fff;
}

/* buttons */
button{
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    display: block;

}

.nav-btn{
    margin-left: 10px;
}

.app-store{
    font-size: 20px;
    color: #fff;
    background-color: #0084FD;
    padding: 5px 35px;
}
/* header */

header{
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-link, .nav-items{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li > a{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    
}

.navbar{
    display: flex;
    
    align-items: center;
}
.nav-left{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars{
    font-size: 30px;
}

.nav-right{
    flex-basis: 50%;
    display: none;
}

/* main */

.row{
    display: flex;
    flex-wrap: wrap;
    
} 

.col{
    width: 100%;
    padding: 0 10px;
}

.card{
    border-radius: 25px;
    min-height: 100px;
    margin-bottom: 20px;
}

.benefits{
    text-align: center;
    color: #fff;
    margin: 20px 20px;
} 

.big-col{
    width: 100%;
    min-height: 200px;
}

.smal-col{
    width: 100%;
    min-height: 200px;
}

/* Demo app info */

.demo-phone-txt{
    padding: 20px 45px;
}

.demo-title{
    color: #0586FD;
    font-size: 25px;
    margin: 20px 0;
}
.app-info-txt{
    margin: 20px 0;
    color: #6A8296;
    line-height: 25px;
}

.demo-phone-img{
    width: 100%;
    text-align: center;
}

.demo-phone-img > img{
    width: 60%;
}

.app-info{
    text-align: center;
    padding: 20px 45px;
}

.demo-icon{
    font-size: 60px;
    color: #0084FD;
}

 /* footer */
.foot-top{
    text-align: center;
}

.foot-bootom{
    text-align: center;
    color: #fff;
} 

/* tablet sizing */

@media screen and (min-width:768px) {
    .col{
        width: 50%;
    }

    .app-info > .col{
        width: 33%;
        
    }

    .app-info{
        margin-right: -5px;
    }

    .col.demo-app{
        width: 66%;
    }

   .strategi-planing{
    width: 100%;
   }
   .partners{
    flex-direction: column;
   }

   .partners-intro{
    width: 100%;
   } 

   .about-us{
    flex-direction: row;
   }

   .smal-col{
    width: 30%;

   }

   .big-col{
    width: 70%;
   }
}

/* dekstop size */

@media screen and (min-width:1200px){
    .container{
        max-width: 80%;
    }

    .benefits > .col{
        width: calc(100% / 3);
    }

    .flex-direction{
        flex-direction: row;
    }

    .strategi-planing{
        width: 50%;
    }
}